<section class="hero-section">
  <div class="container">
    <h1 class="text-secondary-emphasis">Discover the Best Products Just for You</h1>
    <p class="lead text-secondary">Shop the latest trends and exclusive offers.</p>
    <a href="#" class="btn btn-outline-dark  btn-lg" routerLink="/product">Shop Now</a>
  </div>
</section>
<app-about></app-about>

<!-- Featured Products -->
<section class="featured-products">
  <div class="container">
    <h2 class="text-center mb-4">Featured Products</h2>
    <div class="row">
      <!-- Example Product Card -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://cdn.dummyjson.com/products/images/beauty/Essence%20Mascara%20Lash%20Princess/1.png"
            class="card-img-top"
            alt="Product"
          />
          <div class="card-body">
            <h5 class="card-title">Essence Mascara Lash Princess</h5>
            <p class="card-text">$9.99</p>
           
          </div>
        </div>
      </div>
      <!-- Repeat for other products -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://cdn.dummyjson.com/products/images/beauty/Eyeshadow%20Palette%20with%20Mirror/1.png"
            class="card-img-top"
            alt="Product"
          />
          <div class="card-body">
            <h5 class="card-title">Eyeshadow Palette with Mirror"</h5>
            <p class="card-text">$19.99</p>
          
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://cdn.dummyjson.com/products/images/beauty/Red%20Nail%20Polish/1.png"
            class="card-img-top"
            alt="Product"
          />
          <div class="card-body">
            <h5 class="card-title">Red Nail Polish</h5>
            <p class="card-text">$8.99</p>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
 
  
  </div>
</section>


<!-- Call to Action -->
<section class="call-to-action mb-5">
  <div class="container">
    <h2>Ready to Start Shopping?</h2>
    <p>Don't miss out on our latest products and offers. Join us today!</p>
    <a href="#" class="btn btn-secondary col-2 p-2 " routerLink="/product">Shop Now</a>
  </div>
</section>
